{% extends 'base.tpl' %}

{% block head_block %}

{% endblock %}


{% block body_block %}
<p1> To access your scores please login </p1>
{% extends 'base.tpl' %}




{% block body_block %}

<form role="form" action="/" method="POST">
  <div class="form-group">
    <label for="blogPost">Blog post</label><br/>
    <textarea id="blogPost" name="blogcontent" placeholder="Content" rows="10" cols="200"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
{% endblock %}
