{% extends 'base.tpl' %}

{% block head_block %}

{% endblock %}

{% block body_block %}
<title> Hangman </title>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<form role="form" action="/" method="POST">
  <div class="form-group">
    <label for="Hangman"> <h1>Hangman</h1> </label><br/>
    <textarea id="enter letter here" name="letter" placeholder="Enter Guess Here" rows="1" cols="16"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
{% endblock %}
